@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://www.w3schools.com/w3css/4/w3.css';

html {
  background: url("./assets/cityscape-sunset.jpg") no-repeat center fixed;
  background-size: cover;
}

.image-tile {
  background: url("./assets/laptop-programming.jpg") no-repeat center;
  background-size: cover;
}

#myFooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Social media icons */
div.w3-container i.fa {
  padding: 0px 10px 0px 10px;
}

