@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://www.w3schools.com/w3css/4/w3.css';
/* @import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'; */

html {
  background: url("./assets/cityscape-sunset.jpg") no-repeat center fixed;
  background-size: cover;
}

#portfolio-background {
  background: url("./assets/laptop-programming-resized.jpg") no-repeat center;
  background-size: cover;
}

.coco-banner {
  margin-top: 46px;
  padding: 30px 0 30px 0;
  background-color: rgba(255, 255, 255, 0.5);
  max-width: auto;
  text-align: center;
  height: max-content;
}

.coco-container {
}

.coco-content {
  background-color: rgba(0, 255, 255, 0.5);
  padding-bottom: 20px;
  text-align: center;
  height: max-content;
}

.coco-content h2 {
  padding-top: 50px;
}

.coco-content p {
  padding: 0px 400px 0px 400px;
}

#coco-cards-container {
  text-align: center;
}

#coco-cards-container > div {
  width: 220px;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top;
}

#coco-cards-container:after {
  content: "";
  width: 100%;
  display: inline-block;
}

#coco-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Social media icons */
div.w3-container i.fa {
  padding: 0px 10px 0px 10px;
}

